/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

// Font Stack Properties
$fontStyle_header: "Bebas Neue", cursive;
$fontStyle_body: "Rubik", sans-serif;
$fontStyle_option1: "Inter", sans-serif;

// Font Sizes
$fontSize_xSmall: 0.75rem;
$fontSize_small: 0.9rem;
$fontSize_normal: 1rem;
$fontSize_medium: 1.25rem;
$fontSize_large: 1.5rem;
$fontSize_large-0: 2rem;
$fontSize_large-1: 2.5rem;
$fontSize_XL-large: 5rem;
$fontSize_BG-large: 12rem;
