// Imports
@import "./fonts";
@import "./colors";
@import "./boxShadow";

//  <========== HEADER ==========>
.header {
	margin: 0 auto;
	padding: 1rem 0;

	nav {
		padding: 0 1rem;
		align-items: center;

		.content {
			display: flex;
			align-items: center;
			justify-content: space-between;

			.navTitle {
				display: flex;
				align-items: center;
				grid-column-gap: 2rem;
			}

			.navLinks {
				padding: 0rem;
				margin: auto 0;
				display: flex;

				a {
					display: flex;
					margin: 0 auto;
					padding: 0px 20px;
					align-items: center;
					text-decoration: none;
					font-size: $fontSize_xSmall;
					color: $baseColor_lightGrey3;
					font-family: $fontStyle_option2;
				}

				a:hover {
					transition: all 0.2s ease-in-out;
					color: $baseColor_white;
				}

				.resumeBtn {
					padding: 0 0.5rem;
					margin-left: 1rem;
					color: $baseColor_white;
				}

				.resumeBtn:hover {
					transition: all 0.2s ease-in-out;
					opacity: 0.75;
				}
			}
		}
	}
}

//  <========== HERO ==========>
.hero {
	height: 75vh;
	border: $secondary_Purple 0.15rem solid;

	.content {
	}
}

//  <========== PROJECTS ==========>
.projects {
	padding: 2rem 1rem;
	color: $baseColor_black;
	background-color: $backgroundColor_black;
	background-image: none;

	.content {
		border-radius: 5px;
		box-shadow: $box-shadow-5;
		background-color: $backgroundColor_White;
		margin: 0 auto;

		.mainSide {
			padding: 2rem;

			h2 {
				text-align: left;
				font-family: $fontStyle_option1;
				font-size: $fontSize_large;
			}

			.subtitle {
				text-align: left;
				padding-top: 0.5rem;
				font-family: $fontStyle_body;
				font-size: $fontSize_normal;
			}

			.recommendedProjects {
				margin: 2rem 0;
				display: grid;
				grid-template-columns: repeat(3, 1fr);
				grid-gap: 1.5rem;
				grid-template-areas: recommendedProjects;

				.project {
					text-align: left;

					.image {
						transition: all 0.25s ease-in-out;
						transform: scale(1);
						box-shadow: $box-shadow-5;

						a {
							text-decoration: none;

							img {
								height: 225px;
								width: 100%;
								object-fit: cover;
							}
						}
					}

					.image:hover {
						transition: all 0.25s ease-in-out;
						transform: scale(1.005);
						box-shadow: $box-shadow-3;
					}

					.description {
						display: flex;
						padding: 1rem 0;
						margin-top: 1.5rem;
						justify-content: space-between;

						.titles {
							align-items: center;
							justify-self: start;
							font-family: $fontStyle_body;

							h2 {
								font-family: $fontStyle_option1;
								font-size: $fontSize_normal;
							}

							p {
								margin-top: 0.25rem;
								font-size: $fontSize_xSmall;
								color: $AdditionalColor-lightGrey;
							}
						}

						.buttons {
							justify-self: end;

							.moreInfo {
								border-radius: 5px;
								padding: 0.65rem 0.75rem;
								color: $baseColor_white;
								font-size: $fontSize_xSmall;
								font-family: $fontStyle_body;
								background-color: $AdditionalColor_Purple1;
								box-shadow: $box-shadow-5;

								a {
									color: $baseColor_white;
									font-size: $fontSize_xSmall;
									font-family: $fontStyle_body;
									text-decoration: none;
								}
							}

							.moreInfo:hover {
								transition: all 0.25s ease-in-out;
								background-color: $AdditionalColor-darkPurple2;
								box-shadow: $box-shadow-4;
							}
						}
					}
				}
			}

			/* ===== PROJECTS BOTTOM SECTION=====*/
			/* Featured Projects */
			.featuredProjects {
				margin-top: 0rem;

				h2 {
					text-align: left;
					font-size: $fontSize_normal;
					font-family: $fontStyle_body;
				}
			}

			/* ===== FEATURED PROJECTS SECTION =====*/
			.outerContainer {
				display: grid;
				margin-top: 1rem;
				grid-template-columns: 1fr;
				grid-template-rows: 1fr;
				grid-template-areas: "notificationDisplay";

				.revealPageN {
					padding-top: 1.2rem;
					padding-left: 0.5rem;
					grid-area: notificationDisplay;

					.buttonN {
						border: none;
						cursor: pointer;
						padding: 0.5rem;
						border-radius: 7.5px;
						color: $baseColor_white;
						font-size: $fontSize_xSmall;
						position: relative;
						background-color: $AdditionalColor_Purple1;

						/* Reveal Button Icon for Featured Projects */
						.bi {
							font-size: $fontSize_xSmall;
						}
					}
				}

				.info_containerN {
					display: flex;
					grid-area: notificationDisplay;

					.content {
						padding: 2rem;
						padding-top: 2rem;
						border-radius: 10px;
						align-items: center;
						justify-content: center;
						background: $FeaturedProjectsGradient;
						background-size: 1200% 600%;
						background-position: center;
						background-repeat: no-repeat;
						animation: GradientKeyframes 20s ease-in-out infinite;

						h2 {
							font-family: $fontStyle_body;
						}

						.moreProjects {
							margin-top: 2rem;
							display: grid;
							grid-template-columns: repeat(3, 1fr);
							grid-gap: 1.5rem;

							.apps {
								text-align: left;
								align-items: center;
								color: $baseColor_white;

								.image {
									transition: all 0.25s ease-in-out;
									transform: scale(1);
									text-align: center;
									background-color: $secondary_Purple;
									box-shadow: $box-shadow-1;

									a {
										text-decoration: none;

										img {
											height: 225px;
											width: 100%;
											object-fit: cover;
										}
									}
								}

								.image:hover {
									transition: all 0.25s ease-in-out;
									transform: scale(1.0075);
									background-color: $secondary_Purple;
									box-shadow: $box-shadow-6;
								}

								.description {
									height: fit-content;
									margin-top: 2.5rem;
									padding-left: 0.5rem;

									h2 {
										text-align: left;
										width: fit-content;
										font-weight: 600;
										word-spacing: 0.1rem;
										letter-spacing: 0.045rem;
										color: $secondary_whiteDouble;
										font-family: $fontStyle_body;
										font-size: $fontSize_normal;
									}

									p {
										text-align: left;
										margin-top: 0.35rem;
										color: $secondary_whiteDouble;
										letter-spacing: 0.04rem;
										font-family: $fontStyle_body;
										font-size: $fontSize_xSmall;
									}
								}
							}
						}
					}
				}
			}
		}
	}

	.projects__content:hover {
		transition: all 0.25s ease-in-out;
		box-shadow: $box-shadow-6;
	}
}

// <========== FOOTER ==========>
.footer {
	padding: 2rem;

	.content {
		margin: 0 auto;

		.topSection {
			display: flex;
			justify-content: space-between;

			.leftSection {
				display: flex;
				justify-content: space-between;

				.additionalInformation,
				.getHelp,
				.aboutToddBlue {
					display: flex;
					margin-right: 2rem;
					line-height: 0.75rem;
					flex-direction: column;

					a {
						padding: 10px;
						text-decoration: none;
						font-size: $fontSize_xSmall;
						color: $baseColor_lightGrey4;
						font-family: $fontStyle_option2;
					}

					a:hover {
						color: $baseColor_white;
					}

					.titleSection {
						margin-bottom: 0.15rem;
						letter-spacing: 0.04rem;
						color: $baseColor_white;
						text-transform: uppercase;
						font-size: $fontSize_xSmall;
						font-family: $fontStyle_option2;
					}
				}

				.additionalInformation {
					line-height: 1rem;
					margin-right: 7rem;

					a {
						padding: 10px;
						letter-spacing: 0.04rem;
						text-decoration: none;
						color: $baseColor_white;
						text-transform: uppercase;
						font-size: $fontSize_xSmall;
						font-family: $fontStyle_option2;
					}

					a:hover {
						color: $baseColor_lightGrey2;
					}
				}
			}

			.rightSection {
				display: flex;
				align-items: flex-start;
				justify-content: right;

				a {
					padding: 10px;
					text-decoration: none;
					font-size: $fontSize_xSmall;
					color: $baseColor_lightGrey4;
					font-family: $fontStyle_option2;
				}

				a:hover {
					color: $baseColor_white;
				}
			}
		}

		.borderLineMid {
			margin: 1rem 0;
			border-bottom: $baseColor_lightBlack 0.1rem solid;
		}

		.bottomSection {
			.topHalfSection {
				display: flex;
				justify-content: right;

				a {
					padding: 10px;
					text-decoration: none;
					font-size: $fontSize_xSmall;
					color: $baseColor_lightGrey4;
					font-family: $fontStyle_option2;
				}

				a:hover {
					color: $baseColor_white;
				}
			}

			.bottomHalfSection {
				display: flex;
				justify-content: space-between;

				.leftSide,
				.rightSide {
					display: flex;

					a {
						padding: 10px;
						text-decoration: none;
						font-size: $fontSize_xSmall;
						color: $baseColor_lightGrey4;
						font-family: $fontStyle_option2;
					}
				}

				.leftSide {
					.location {
						color: $baseColor_white;

						i {
							margin-right: 1rem;
						}
					}
				}

				.rightSide {
					a:hover {
						color: $baseColor_white;
					}
				}
			}
		}
	}
}

/* Small - Large mobile screen (portrait 576px) // Change to (max-device-width: 320px) when finished */
@media screen and (max-width: 576px) {
	/*======  NAVIGATION MENU  ======*/
	.header {
		padding: 1.5rem;

		.nav {
			display: flex;
			align-items: center;
			justify-content: space-between;

			/* Left div title section */
			.navTitle {
				width: fit-content;

				a {
					letter-spacing: 0.1rem;
					text-decoration: none;
					color: $baseColor_black;
					font-size: $fontSize_large;
					font-family: $fontStyle_header;
				}

				a:hover {
					transition: all 0.25s ease-in-out;
					color: $AdditionalColor_darkPurple;
				}
			}

			/* Right links section */
			.navMenu {
				display: none;
				grid-template-columns: repeat(2, 1fr);
				grid-row-gap: 2rem;
				margin-top: 15px;
				padding: 1rem;
				justify-content: space-between;

				button {
					border: none;
					list-style: none;
					background: none;
					margin-right: 1rem;

					.bi {
						color: $baseColor_black;
						font-size: $fontSize_normal;
					}
				}

				li {
					padding: 0 20px;
					align-self: center;

					a {
						text-decoration: none;
						color: $baseColor_black;
						font-size: $fontSize_normal;
						font-family: $fontStyle_option1;

						.uil {
							display: none;
							padding: 7.5px;
						}
					}

					a:hover {
						transition: all 0.25s ease-in-out;
						color: $AdditionalColor_darkPurple;
					}
				}
			}

			/* Mobile Menu Home Button */
			.mobileHomebtn {
				display: block;

				button {
					border: none;
					list-style: none;
					background: none;
					color: $baseColor_black;
					font-size: $fontSize_normal;
				}
			}
		}
	}

	/* ===== FOOTER =====*/
	.footer {
		padding: 1rem;

		.background {
			box-shadow: $box-shadow-5;

			.container {
				display: flex;
				flex-direction: column;

				.content {
					display: flex;
					flex-direction: column;

					a {
						text-align: center;
					}
				}

				.title {
					padding: 1rem;
					display: flex;
					align-items: center;
					flex-direction: column;

					a {
						text-align: center;
						letter-spacing: 0.1rem;
						text-decoration: none;
						font-size: $fontSize_large;
						color: $secondary_whiteDouble2;
						font-family: $fontStyle_header;
					}

					a:hover {
						transition: all 0.25s ease-in-out;
						color: $AdditionalColor-darkOrange;
					}

					h5 {
						text-align: center;
						text-transform: capitalize;
						font-size: $fontSize_normal;
						font-family: $fontStyle_option1;
						color: $secondary_Purple;
					}
				}

				.socials {
					padding: 1rem;
					display: flex;
					list-style: none;
					justify-content: center;

					a {
						margin: auto;
						text-decoration: none;
						color: $baseColor_white;
						font-size: $fontSize_large;
						font-family: $fontStyle_body;
					}

					a:hover {
						transition: all 0.25s ease-in-out;
						color: $AdditionalColor-darkOrange;
					}
				}
			}

			.copyright {
				h2 {
					text-align: center;
				}
			}
		}

		.background:hover {
			box-shadow: $box-shadow-0;
		}
	}
}

// Devices In-between Mobile and tablets width
@media screen and (min-width: 577px) and (max-width: 767px) {
	/*======  NAVIGATION MENU  ======*/
	.header {
		padding: 1.5rem;

		.nav {
			display: flex;
			align-items: center;
			justify-content: space-between;

			/* Left div title section */
			.navTitle {
				width: fit-content;

				a {
					letter-spacing: 0.1rem;
					text-decoration: none;
					color: $baseColor_black;
					font-size: $fontSize_large;
					font-family: $fontStyle_header;
				}

				a:hover {
					transition: all 0.25s ease-in-out;
					color: $AdditionalColor_darkPurple;
				}
			}

			/* Right links section */
			.navMenu {
				display: none;
				grid-template-columns: repeat(3, 1fr);
				grid-row-gap: 2rem;
				margin-top: 15px;
				padding: 1rem;
				justify-content: space-between;

				button {
					border: none;
					list-style: none;
					background: none;
					margin-right: 1rem;

					.bi {
						color: $baseColor_black;
						font-size: $fontSize_normal;
					}
				}

				li {
					padding: 0 20px;
					align-self: center;

					a {
						text-decoration: none;
						color: $baseColor_black;
						font-size: $fontSize_normal;
						font-family: $fontStyle_option1;

						.uil {
							display: none;
							padding: 7.5px;
						}
					}

					a:hover {
						transition: all 0.25s ease-in-out;
						color: $AdditionalColor_darkPurple;
					}
				}
			}

			/* Mobile Menu Home Button */
			.mobileHomebtn {
				display: block;

				button {
					border: none;
					list-style: none;
					background: none;
					color: $baseColor_black;
					font-size: $fontSize_normal;
				}
			}
		}
	}

	/* ===== FOOTER =====*/
	.footer {
		padding: 1rem;

		.background {
			box-shadow: $box-shadow-5;

			.container {
				display: flex;
				flex-direction: column;

				.content {
					display: flex;
					flex-direction: column;

					a {
						text-align: center;
					}
				}

				.title {
					padding: 1rem;
					display: flex;
					align-items: center;
					flex-direction: column;

					a {
						text-align: center;
						letter-spacing: 0.1rem;
						text-decoration: none;
						font-size: $fontSize_large;
						color: $secondary_whiteDouble2;
						font-family: $fontStyle_header;
					}

					a:hover {
						transition: all 0.25s ease-in-out;
						color: $AdditionalColor-darkOrange;
					}

					h5 {
						text-align: center;
						text-transform: capitalize;
						font-size: $fontSize_normal;
						font-family: $fontStyle_option1;
						color: $secondary_Purple;
					}
				}

				.socials {
					padding: 1rem;
					display: flex;
					list-style: none;
					justify-content: center;

					a {
						margin: auto;
						text-decoration: none;
						color: $baseColor_white;
						font-size: $fontSize_large;
						font-family: $fontStyle_body;
					}

					a:hover {
						transition: all 0.25s ease-in-out;
						color: $AdditionalColor-darkOrange;
					}
				}
			}

			.copyright {
				h2 {
					text-align: center;
				}
			}
		}

		.background:hover {
			box-shadow: $box-shadow-0;
		}
	}
}

/* Tablet screen (portrait 768px - 1023px) // Change to (max-device-width: 768px) when finished */
@media only screen and (min-width: 768px) and (max-width: 992px) {
	/*======  NAVIGATION MENU  ======*/
	.header {
		padding: 0.5rem;

		.nav {
			display: flex;
			align-items: center;
			justify-content: space-between;

			/* Left div title section */
			.navTitle {
				width: fit-content;

				a {
					letter-spacing: 0.1rem;
					text-decoration: none;
					color: $baseColor_black;
					font-size: $fontSize_large;
					font-family: $fontStyle_header;
				}

				a:hover {
					transition: all 0.25s ease-in-out;
					color: $AdditionalColor_darkPurple;
				}
			}

			/* Mobile Menu Home Button */
			.mobileHomebtn {
				display: none;

				button {
					border: none;
					list-style: none;
					background: none;
					color: $baseColor_black;
					font-size: $fontSize_normal;
				}
			}
		}
	}
}
