// Imports
@import "./fonts";
@import "./colors";
@import "./boxShadow";

//  <========== HEADER ==========>
.header {
	margin: 0 auto;
	padding: 1rem 0;

	nav {
		padding: 0 1rem;
		align-items: center;

		.content {
			display: flex;
			align-items: center;
			justify-content: space-between;

			.navTitle {
				display: flex;
				align-items: center;
				grid-column-gap: 2rem;
			}

			.navLinks {
				padding: 0rem;
				margin: auto 0;
				display: flex;

				a {
					display: flex;
					margin: 0 auto;
					padding: 0px 20px;
					align-items: center;
					text-decoration: none;
					font-size: $fontSize_xSmall;
					color: $baseColor_lightGrey3;
					font-family: $fontStyle_option1;
				}

				a:hover {
					transition: all 0.2s ease-in-out;
					color: $baseColor_white;
				}

				.resumeBtn {
					padding: 0 0.5rem;
					margin-left: 1rem;
					color: $baseColor_white;
				}

				.resumeBtn:hover {
					transition: all 0.2s ease-in-out;
					opacity: 0.75;
				}
			}
		}
	}
}

//  <========== HERO ==========>
.hero {
	height: 75vh;
	border: $secondary_Purple 0.15rem solid;

	.content {
	}
}

//  <========== NEXT JS PROJECTS ==========>
.nextJSProjects {
	.content {
	}
}

//  <========== PROJECTS ==========>
.projects {
	.content {
	}
}

// <========== FOOTER ==========>
.footer {
	padding: 2rem;

	.content {
		margin: 0 auto;

		.topSection {
			display: flex;
			justify-content: space-between;

			.leftSection {
				display: flex;
				justify-content: space-between;

				.additionalInformation,
				.getHelp,
				.aboutToddBlue {
					display: flex;
					margin-right: 2rem;
					line-height: 0.75rem;
					flex-direction: column;

					a {
						padding: 10px;
						text-decoration: none;
						font-size: $fontSize_xSmall;
						color: $baseColor_lightGrey4;
						font-family: $fontStyle_option1;
					}

					a:hover {
						color: $baseColor_white;
					}

					.titleSection {
						margin-bottom: 0.15rem;
						letter-spacing: 0.04rem;
						color: $baseColor_white;
						text-transform: uppercase;
						font-size: $fontSize_xSmall;
						font-family: $fontStyle_option1;
					}
				}

				.additionalInformation {
					line-height: 1rem;
					margin-right: 7rem;

					a {
						padding: 10px;
						letter-spacing: 0.04rem;
						text-decoration: none;
						color: $baseColor_white;
						text-transform: uppercase;
						font-size: $fontSize_xSmall;
						font-family: $fontStyle_option1;
					}

					a:hover {
						color: $baseColor_lightGrey2;
					}
				}
			}

			.rightSection {
				display: flex;
				align-items: flex-start;
				justify-content: right;

				a {
					padding: 10px;
					text-decoration: none;
					font-size: $fontSize_xSmall;
					color: $baseColor_lightGrey4;
					font-family: $fontStyle_option1;
				}

				a:hover {
					color: $baseColor_white;
				}
			}
		}

		.borderLineMid {
			margin: 1rem 0;
			border-bottom: $baseColor_lightBlack 0.1rem solid;
		}

		.bottomSection {
			.topHalfSection {
				display: flex;
				justify-content: right;

				a {
					padding: 10px;
					text-decoration: none;
					font-size: $fontSize_xSmall;
					color: $baseColor_lightGrey4;
					font-family: $fontStyle_option1;
				}

				a:hover {
					color: $baseColor_white;
				}
			}

			.bottomHalfSection {
				display: flex;
				justify-content: space-between;

				.leftSide,
				.rightSide {
					display: flex;

					a {
						padding: 10px;
						text-decoration: none;
						font-size: $fontSize_xSmall;
						color: $baseColor_lightGrey4;
						font-family: $fontStyle_option1;
					}
				}

				.leftSide {
					.location {
						color: $baseColor_white;

						i {
							margin-right: 1rem;
						}
					}
				}

				.rightSide {
					a:hover {
						color: $baseColor_white;
					}
				}
			}
		}
	}
}

/* Small - Large mobile screen (portrait 576px) // Change to (max-device-width: 320px) when finished */
@media screen and (max-width: 576px) {
	/*======  NAVIGATION MENU  ======*/
	.header {
		padding: 1.5rem;

		.nav {
			display: flex;
			align-items: center;
			justify-content: space-between;

			/* Left div title section */
			.navTitle {
				width: fit-content;

				a {
					letter-spacing: 0.1rem;
					text-decoration: none;
					color: $baseColor_black;
					font-size: $fontSize_large;
					font-family: $fontStyle_header;
				}

				a:hover {
					transition: all 0.25s ease-in-out;
					color: $AdditionalColor_darkPurple;
				}
			}

			/* Right links section */
			.navMenu {
				display: none;
				grid-template-columns: repeat(2, 1fr);
				grid-row-gap: 2rem;
				margin-top: 15px;
				padding: 1rem;
				justify-content: space-between;

				button {
					border: none;
					list-style: none;
					background: none;
					margin-right: 1rem;

					.bi {
						color: $baseColor_black;
						font-size: $fontSize_normal;
					}
				}

				li {
					padding: 0 20px;
					align-self: center;

					a {
						text-decoration: none;
						color: $baseColor_black;
						font-size: $fontSize_normal;
						font-family: $fontStyle_option1;

						.uil {
							display: none;
							padding: 7.5px;
						}
					}

					a:hover {
						transition: all 0.25s ease-in-out;
						color: $AdditionalColor_darkPurple;
					}
				}
			}

			/* Mobile Menu Home Button */
			.mobileHomebtn {
				display: block;

				button {
					border: none;
					list-style: none;
					background: none;
					color: $baseColor_black;
					font-size: $fontSize_normal;
				}
			}
		}
	}

	/* ===== FOOTER =====*/
	.footer {
		padding: 1rem;

		.background {
			box-shadow: $box-shadow-5;

			.container {
				display: flex;
				flex-direction: column;

				.content {
					display: flex;
					flex-direction: column;

					a {
						text-align: center;
					}
				}

				.title {
					padding: 1rem;
					display: flex;
					align-items: center;
					flex-direction: column;

					a {
						text-align: center;
						letter-spacing: 0.1rem;
						text-decoration: none;
						font-size: $fontSize_large;
						color: $secondary_whiteDouble2;
						font-family: $fontStyle_header;
					}

					a:hover {
						transition: all 0.25s ease-in-out;
						color: $AdditionalColor-darkOrange;
					}

					h5 {
						text-align: center;
						text-transform: capitalize;
						font-size: $fontSize_normal;
						font-family: $fontStyle_option1;
						color: $secondary_Purple;
					}
				}

				.socials {
					padding: 1rem;
					display: flex;
					list-style: none;
					justify-content: center;

					a {
						margin: auto;
						text-decoration: none;
						color: $baseColor_white;
						font-size: $fontSize_large;
						font-family: $fontStyle_body;
					}

					a:hover {
						transition: all 0.25s ease-in-out;
						color: $AdditionalColor-darkOrange;
					}
				}
			}

			.copyright {
				h2 {
					text-align: center;
				}
			}
		}

		.background:hover {
			box-shadow: $box-shadow-0;
		}
	}
}

// Devices In-between Mobile and tablets width
@media screen and (min-width: 577px) and (max-width: 767px) {
	/*======  NAVIGATION MENU  ======*/
	.header {
		padding: 1.5rem;

		.nav {
			display: flex;
			align-items: center;
			justify-content: space-between;

			/* Left div title section */
			.navTitle {
				width: fit-content;

				a {
					letter-spacing: 0.1rem;
					text-decoration: none;
					color: $baseColor_black;
					font-size: $fontSize_large;
					font-family: $fontStyle_header;
				}

				a:hover {
					transition: all 0.25s ease-in-out;
					color: $AdditionalColor_darkPurple;
				}
			}

			/* Right links section */
			.navMenu {
				display: none;
				grid-template-columns: repeat(3, 1fr);
				grid-row-gap: 2rem;
				margin-top: 15px;
				padding: 1rem;
				justify-content: space-between;

				button {
					border: none;
					list-style: none;
					background: none;
					margin-right: 1rem;

					.bi {
						color: $baseColor_black;
						font-size: $fontSize_normal;
					}
				}

				li {
					padding: 0 20px;
					align-self: center;

					a {
						text-decoration: none;
						color: $baseColor_black;
						font-size: $fontSize_normal;
						font-family: $fontStyle_option1;

						.uil {
							display: none;
							padding: 7.5px;
						}
					}

					a:hover {
						transition: all 0.25s ease-in-out;
						color: $AdditionalColor_darkPurple;
					}
				}
			}

			/* Mobile Menu Home Button */
			.mobileHomebtn {
				display: block;

				button {
					border: none;
					list-style: none;
					background: none;
					color: $baseColor_black;
					font-size: $fontSize_normal;
				}
			}
		}
	}

	/* ===== FOOTER =====*/
	.footer {
		padding: 1rem;

		.background {
			box-shadow: $box-shadow-5;

			.container {
				display: flex;
				flex-direction: column;

				.content {
					display: flex;
					flex-direction: column;

					a {
						text-align: center;
					}
				}

				.title {
					padding: 1rem;
					display: flex;
					align-items: center;
					flex-direction: column;

					a {
						text-align: center;
						letter-spacing: 0.1rem;
						text-decoration: none;
						font-size: $fontSize_large;
						color: $secondary_whiteDouble2;
						font-family: $fontStyle_header;
					}

					a:hover {
						transition: all 0.25s ease-in-out;
						color: $AdditionalColor-darkOrange;
					}

					h5 {
						text-align: center;
						text-transform: capitalize;
						font-size: $fontSize_normal;
						font-family: $fontStyle_option1;
						color: $secondary_Purple;
					}
				}

				.socials {
					padding: 1rem;
					display: flex;
					list-style: none;
					justify-content: center;

					a {
						margin: auto;
						text-decoration: none;
						color: $baseColor_white;
						font-size: $fontSize_large;
						font-family: $fontStyle_body;
					}

					a:hover {
						transition: all 0.25s ease-in-out;
						color: $AdditionalColor-darkOrange;
					}
				}
			}

			.copyright {
				h2 {
					text-align: center;
				}
			}
		}

		.background:hover {
			box-shadow: $box-shadow-0;
		}
	}
}

/* Tablet screen (portrait 768px - 1023px) // Change to (max-device-width: 768px) when finished */
@media only screen and (min-width: 768px) and (max-width: 992px) {
	/*======  NAVIGATION MENU  ======*/
	.header {
		padding: 0.5rem;

		.nav {
			display: flex;
			align-items: center;
			justify-content: space-between;

			/* Left div title section */
			.navTitle {
				width: fit-content;

				a {
					letter-spacing: 0.1rem;
					text-decoration: none;
					color: $baseColor_black;
					font-size: $fontSize_large;
					font-family: $fontStyle_header;
				}

				a:hover {
					transition: all 0.25s ease-in-out;
					color: $AdditionalColor_darkPurple;
				}
			}

			/* Mobile Menu Home Button */
			.mobileHomebtn {
				display: none;

				button {
					border: none;
					list-style: none;
					background: none;
					color: $baseColor_black;
					font-size: $fontSize_normal;
				}
			}
		}
	}
}
